@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

.navbar-container {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    height: 130px;
}

.logo {
    width: 300px;
    max-height: auto;
    margin-left: 20px;
    margin-left: 100px;
}

.navbar {
    display: flex;
    flex-grow: 1;
    background-color: #D9D9D9;
    justify-content: space-between;
    height: 130px;
    align-items: center;
    border-radius: 30px 0 0 30px;
    margin-left: 120px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: 30px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 0 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-links a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

/* Hover effect */
.nav-links a:hover {
    color: #fb6a6a;
    transform: scale(1.2);
}

.nav-links a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-buttons .btn {
    background-color: #3d3c3c;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    margin-left: 10px;
    text-decoration: none;
    margin-right: 50px;
    font-size: 24px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-buttons .btn.register {
    background-color: #3d3c3c;
    margin-right: 10px;
}

.nav-buttons .btn:hover {
    background-color: #757575;
    transform: scale(1.1);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 130px; /* Adjust based on your navbar height */
    left: 0;
    width: 100%;
    background-color: #E2E2E2;
    text-align: center;
    z-index: 9999; /* Ensure dropdown is above other content */
}

.dropdown-links {
    list-style: none;
    padding: 20px 0;
}

.dropdown-links li {
    margin: 10px 0;
}

.dropdown-links a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-links a:hover {
    background-color: #cccccc;
}

.dropdown-buttons {
    padding: 20px 0;
}

.dropdown-buttons .btn-register{
    display: block;
    margin: 10px auto;
    background-color: #696969;
    width:200px;
    border-radius: 30px;
}
.dropdown-buttons .btn-login{
    background-color: #696969;
    width:200px;
    border-radius: 30px;
    margin: 10px auto;
}

@media(max-width: 1666px){
    .nav-links a {
        font-size: 20px;
    }
    .nav-buttons .btn {
        padding: 10px 15px;
        font-size: 22px;
    }
    .logo {
        width: 280px;
        max-height: auto;
        margin-left: 20px;
        margin-left: 100px;
    }
    .nav-links a {
        position: relative;
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 0 8px;
        transition: transform 0.3s ease, color 0.3s ease;
    }
}

@media(max-width: 1400px){
    .nav-links a {
        font-size: 14px;
    }
    .nav-buttons .btn {
        padding: 7px 11px;
        font-size: 20px;
    }
    .logo {
        width: 250px;
        max-height: auto;
        margin-left: 100px;
    }
    .nav-links a {
        position: relative;
        text-decoration: none;
        color: black;
        font-size: 15px;
        padding: 0 4px;
        transition: transform 0.3s ease, color 0.3s ease;
    }
}
@media(max-width: 1200px){
    .nav-links a {
        font-size: 16px;
    }
    .nav-buttons .btn {
        padding: 3px 7px;
        font-size: 15px;
    }
    .logo {
        width: 200px;
        max-height: auto;
        margin-left: 25px;
        
    }
    .nav-links a {
        position: relative;
        text-decoration: none;
        color: black;
        font-size: 15px;
        padding: 0 1px;
        transition: transform 0.3s ease, color 0.3s ease;
    }
    
}

@media(max-width: 990px){
    .nav-links, .nav-buttons {
        display: none;
    }

    .navbar.active + .dropdown-menu {
        display: block;
    }

    .navbar {
        justify-content: flex-start; /* Align items to the start */
        position: relative;
    }

    .hamburger {
        display: flex; /* Ensure the hamburger is visible */
        position: absolute;
        right: 20px; /* Adjust this value to control how far the hamburger is from the right */
        top: 50%;
        transform: translateY(-50%); /* Vertically center the hamburger */
    }

    .nav-links {
        margin-left: auto; /* Push the nav-links to the left */
        display: none; /* Hide the links by default for smaller screens */
    }
    .logo {
        width: 180px;
        max-height: auto;
        
        margin-left: 40px;
    }
}

/* Responsive styles */
@media (max-width: 576px) {
    .nav-links, .nav-buttons {
        display: none;
    }

    .navbar.active + .dropdown-menu {
        display: block;
    }
    /* .dropdown-buttons{
        ;
    } */

    .navbar {
        justify-content: flex-start; /* Align items to the start */
        position: relative;
    }

    .hamburger {
        display: flex; /* Ensure the hamburger is visible */
        position: absolute;
        right: 20px; /* Adjust this value to control how far the hamburger is from the right */
        top: 50%;
        transform: translateY(-50%); /* Vertically center the hamburger */
    }

    .nav-links {
        margin-left: auto; /* Push the nav-links to the left */
        display: none; /* Hide the links by default for smaller screens */
    }
    .logo {
        width: 150px;
        max-height: auto;
        margin-left: 40px;
    }
}
